@use "/src/index.scss";


.filter {
    width: 300px;
    padding: 20px;

    align-self: flex-start;

    background-color: #fff;
    box-shadow: index.$shadow;
    border-radius: index.$b-radius;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 800px) {
        width: 100%;
    }

    .title {
        text-align: center;
        font-size: 19px;
    }

    label {
        width: 100%;

        p {
            margin-bottom: 5px;
        }

        input {
            width: 80%;
        }


        span {
            width: 20%;
        }

        &.disabled {
            display: none;
        }
    }

    .buttons {
        display: flex;
        gap: 10px;

        button {
            width: 100%;
        }

        .clearButton {
            background-color: #fff;
            border: 1px solid #4d4d4d;
            color: #000;
        }
    }
}